---
import HTML from '~/components/HTML.astro';
---

<HTML>
	<Fragment slot="body">
		<div>
			<div>
				<h2 class="text-center font-mono text-z5 font-w5">404 | not found</h2>
			</div>
		</div>
	</Fragment>
</HTML>
