---
import type { HTMLAttributes } from 'astro/types';

import '@unej.io/ui/globals.css';

import { site } from '@unej.io/env/import.meta/host.ts';

type Props = HTMLAttributes<'html'> & {
	title?: string;
	description?: string;
};

const { title = 'site', description = 'site', ...attrs } = Astro.props;
---

<html lang="en" data-theme="dark" {...attrs}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="icon" type="image/x-icon" href={site('favicon.ico')} />
		<link rel="stylesheet" href={site('css/fonts.css')} />

		<title>{title}</title>
		<meta name="description" content={description} />

		<slot name="head" />
	</head>
	<body>
		<slot name="body" />
	</body>
</html>
